<div class="policy-details">
  <h1>Політика конфіденційності</h1>
  <span><b>Останнє оновлення: 30.11.2023</b></span>
  <p>Ласкаво просимо на сайт "Uncommercial Org"! Ми цінуємо ваш інтерес до нашої некомерційної акції і хочемо забезпечити вас інформацією про те, як ми збираємо, використовуємо та захищаємо вашу особисту інформацію.</p>
  <ol>
    <li><b>1. Збирання інформації</b></li>
    <li>
      <ol>
        <li>1.1 Особиста інформація: Ми не збираємо персональні дані.</li>
        <li>1.2 Інформація про використання сайту: Ми автоматично збираємо інформацію про ваше взаємодію з нашим сайтом, таку як IP-адреса, тип браузера, дата і час доступу, переглянуті сторінки.</li>
      </ol>
    </li>
  </ol>
  <ol>
    <li><b>2. Використання інформації</b></li>
    <ol>
      <li>2.1 Надання послуг: Ми не використовуємо вашу особисту інформацію для надання вам інформації про нашу організацію та її діяльність.</li>
      <li>2.2 Статистика та аналітика: Ми можемо використовувати анонімізовані дані для внутрішньої статистики, аналізу використання сайту та покращення якості наданих послуг.</li>
    </ol>
  </ol>
  <ol>
    <li><b>3. Безпека даних</b></li>
    <ol>
      <li>
        Ми приймаємо всі необхідні заходи для захисту наданої інформації від вас від несанкціонованого доступу, використання чи розкриття.
      </li>
    </ol>
  </ol>
  <ol>
    <li><b>4. Посилання на сторонні ресурси</b></li>
    <ol>
      <li>
        Наш сайт може містити посилання на сторонні веб-ресурси. Ми не несемо відповідальності за політику конфіденційності та практики безпеки таких ресурсів.
      </li>
    </ol>
  </ol>
  <ol>
    <li><b>5. Ваші права</b></li>
    <ol>
      <li>
        Ви маєте право запитати доступ, виправлення або видалення інформації якщо зможете довести що ця інформація належить вам, тому що ми не зв'язуємо іфнормацію з вами особисто в нашій базі даних. Якщо у вас є будь-які питання або запитання щодо нашої політики конфіденційності, будь ласка, зв'яжіться з нами за адресою warm-hearts@uncommercial.org.
      </li>
    </ol>
  </ol>
  <ol>
    <li><b>6. Зміни в політиці конфіденційності</b></li>
    <ol>
      <li>
        Ми залишаємо за собою право вносити зміни в нашу політику конфіденційності. Будь-які зміни будуть опубліковані на цій сторінці.
      </li>
    </ol>
  </ol>
  <p>Дякуємо вам за довіру та інтерес до нашої акції. Якщо у вас є які-небудь питання, не соромтеся звертатися до нас.</p>
  <p>Дата: <b>30.11.2023</b></p>
</div>
