<%= form_for(@letter, 
             url: url_for(controller: '/letters', action: 'create'),
             as: :letter,
             authenticity_token: true,
             html: { method: :post, id: 'form_letter' }) do |form| %>
  <%= recaptcha_execute() %>

  <div class="form-wrapper">
    <%= form.text_area :letter_text, required: true, rows: 20, cols: 60, id: 'letter_text', class: 'home-textarea textarea', placeholder: 'Привітайся, розкажи про себе та за що ти вдячний нашим захисникам' %>
  </div>

  <div class="home-container17">
    <input type="checkbox" class="home-checkbox" />
    <label class="home-text50">Так, я задонатив (не обовʼязково, але дуже важливо)</label>
  </div>

  <%= form.submit 'Відправити', class:'letter-button big-button button', id: 'letter-button' %>
<% end %> 
