<footer class="footer">
  <div class="footer-container1">
    <span class="footer-text">© 2023 Акція "Зігрій серце воїна"</span>
    <nav class="footer-nav">
      <a href="/privacy" class="footer-text2">Політика приватності</a>
      <a href="https://t.me/christmas_warm_hearts_chat" rel="nofollow" target="_blank" class="footer-text2">Спільнота</a>
    </nav>
  </div>
</footer>